<a href="https://colab.research.google.com/github/Farindek/Introduction-to-Python/blob/main/Day1_Bootcamp.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print ("hello Kemi")

hello Kemi

# Welcome to Essex
## Enjoy the class
#### Hi Colchester
Be good to me

|Schools  |      Semester   |  Amount |
|----------|:-------------:|------:|
|Essex Uni|  Autumn | $£1600 |
|London Uni|    Spring   |   $£12 |
|Colchester Uni| Winter |    $£1 |

In [ ]:
a = 6
b = 5
c = a+b
print(c)

11

In [ ]:
d=a-b
print(d)

1

In [ ]:
e=a*b
print(e)

30

In [ ]:
f=a/b
print(f)

1.2

In [1]:
b=18
h=6
Area=0.5*b*h
print(Area)

54.0

In [2]:
b = input('Enter breadth of triangle:')
h = input('Enter heigth of triangle:')

Area = 0.5*float(b)*float(h)

print('the Area of Triangle {0}, {1} is {2}'.format(b,h,Area))

Enter breadth of triangle:18
Enter heigth of triangle:6
the Area of Triangle 18, 6 is 54.0

In [4]:
#Area of circle
Pi = 3.14
r = input('Enter radius of circle')
Area = Pi*float(r)**2
print('Area of Circle {0} is {1}'.format(r,Area))

Enter radius of circle6
Area of Circle 6 is 113.04

In [6]:
#Circumference of circle
r = input('Enter radius of circle')
Circum = 2*Pi*float(r)
print('Circum of circle with radius {0} is {1}'.format(r, Circum))

Enter radius of circle6
Circum of circle with radius 6 is 37.68

In [7]:
#Simple Interest
P = input('Enter the Principal Interest')
R = input('Enter the Rate')
T = input('Enter the Time')

SimpleInterest = float(P)*float(R)*float(T)
print('The Simple Interest with {0}, {1}, {2} is {3}'.format(P, R, T, SimpleInterest))

Enter the Principal Interest10
Enter the Rate0.4
Enter the Time60
The Simple Interest with 10, 0.4, 60 is 240.0

In [10]:
#Volume of Cylinder
r = input('Enter the radius of cylinder')
h = input('Enter the height of cylinder')

Volume = Pi*float(r)**2*float(h)
print('The Volume of Cylinder with {0}, {1} is {2}'.format(r, h, Volume))

Enter the radius of cylinder4
Enter the height of cylinder6
The Volume of Cylinder with 4, 6 is 301.44

In [12]:
import pandas as pd
data = pd.read_csv('/SuicidesIndia.csv')
data

                State  Year      Type_code  ...  Gender Age_group Total
0       A & N Islands  2001         Causes  ...  Female      0-14     0
1       A & N Islands  2001         Causes  ...  Female      0-14     0
2       A & N Islands  2001         Causes  ...  Female      0-14     0
3       A & N Islands  2001         Causes  ...  Female      0-14     0
4       A & N Islands  2001         Causes  ...  Female      0-14     0
...               ...   ...            ...  ...     ...       ...   ...
237514    West Bengal  2012  Social_Status  ...    Male    0-100+   149
237515    West Bengal  2012  Social_Status  ...    Male    0-100+   233
237516    West Bengal  2012  Social_Status  ...    Male    0-100+  5451
237517    West Bengal  2012  Social_Status  ...    Male    0-100+   189
237518    West Bengal  2012  Social_Status  ...    Male    0-100+  2658

[237519 rows x 7 columns]